@import '@/css/variables.scss';

@mixin emboss() {
  border-top: 2px solid $emboss_light;
  border-right: 2px solid $emboss_dark;
  border-bottom: 2px solid $emboss_dark;
  border-left: 2px solid $emboss_light;
  border-radius: 4px 2px 3px 2px;
  // overflow: hidden;
}

@mixin inlay() {
  border-top: 2px solid $emboss_dark;
  border-right: 2px solid $emboss_light;
  border-bottom: 2px solid $emboss_light;
  border-left: 2px solid $emboss_dark;
  border-radius: 4px 2px 3px 2px;
  // overflow: hidden;
}

@mixin shadow_inlay() {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  border-top: 2px solid $emboss_dark;
  border-bottom: 2px solid $emboss_light;
}

@mixin panel_inlay_light() {
  @include shadow_inlay();
  background: #403f40;
}

@mixin panel_inlay_dark() {
  @include shadow_inlay();
  background: #242324;
}
