
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #FFFFFF;
  background: #232B40;
  font-family: 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;

  &:visited {
    color: #FFFFFF;
  }
}
