@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap');
@import './variables.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 6px 6px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 6px 7px;
  background-color:#282828;
  background-size:12px 12px;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px inset;
  scrollbar-color: $emboss_light $emboss_dark;
}

a::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
}

a:focus, button:focus {
  outline:none;
}

input, .factorino-input {
  padding: 8px 0;
  border: 0;
  border-radius: 5px;
  background: 0;
  color: white;
  line-height: 20px;
  width: 100%;
  display: inline-block;
}
